<link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<div id="services" class="container-fluid text-center" style="background-color: #cccccc;">
    <h2>Industries</h2>
    <!-- <h4>What we offer</h4> -->
    <!-- <br> -->
  
    <div class="row">
      <div class="col-md-3 ">
        <span class="fa fa-car fa-3x"></span>
        <h4>Automobile</h4>
        <br>
      </div>
      <div class="col-md-3">
          <span class="fa fa-free-code-camp  fa-3x"></span>
          
        <h4>Oil & Gas</h4>
        <br>
      </div>
      <div class="col-md-3">
          <span class="fa fa-desktop fa-3x"></span>
        <h4>Information Technology</h4>
        <br>
      </div>
        <div class="col-md-3">
          <span class="fa fa-music fa-3x"></span>
        <h4>Media & Entertainment</h4>
        <br>
      </div>
    </div>
  
    <div class="row">
        <div class="col-md-3 ">
          <span class="fa fa-building fa-3x"></span>
          <h4>Real Estate & Construction</h4>
          <br>
        </div>
        <div class="col-md-3">
            <span class="fa fa-money fa-3x"></span>
          <h4>Financial Sector</h4>
          <br>
        </div>
        <div class="col-md-3">
            <span class="fa fa-plug fa-3x"></span>
          <h4>Power</h4>
          <br>
        </div>
        <div class="col-md-3">
            <span class="fa fa-phone fa-3x"></span>
          <h4>Telecom</h4>
          <br>
        </div>
      </div>

      <div class="row">
          <div class="col-md-3 ">
            <span class="fa fa-plane fa-3x"></span>
            <h4>Aviation</h4>
            <br>
          </div>
          <div class="col-md-3">
              <span class="fa fa-book fa-3x"></span>
            <h4>Education</h4>
            <br>
          </div>
          <div class="col-md-3">
              <span class="fa fa-bed fa-3x"></span>
            <h4>Hospitality</h4>
            <br>
          </div>
          <div class="col-md-3">
              <span class="fa fa-medkit fa-3x"></span>
            <h4>Healthcare</h4>
            <br>
          </div>
        </div>

        <div class="row">
            <div class="col-md-3 ">
              <span class="fa fa-bolt fa-3x"></span>
              <h4>White Goods/Electricals</h4>
              <br>
            </div>
            <div class="col-md-3">
                <span class="fa fa-ship fa-3x"></span>
              <h4>Shipping</h4>
              <br>
            </div>
            <div class="col-md-3">
                <span class="fa fa-globe fa-3x"></span>
              <h4>Trading</h4>
              <br>
            </div>
            <div class="col-md-3">
                <span class="fa fa-industry fa-3x"></span>
              <h4>Textiles</h4>
              <br>
            </div>
          </div>

  </div>

