<link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<div class="container-fluid">

  <div class='col-12'>
<ngb-carousel>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="/assets/img_2.jpg" alt="Random first slide">
      </div>
      <div class="carousel-caption">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="/assets/img_1.jpg" alt="Random second slide">
      </div>
      <div class="carousel-caption">
        <h3>Second slide label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="/assets/img_dollar.jpg" alt="Random third slide">
      </div>
      <div class="carousel-caption">
        <h3>Third slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="/assets/img_3.jpg" alt="Random fourth slide">
        </div>
        <div class="carousel-caption">
          <h3>Fourth slide label</h3>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
      </ng-template>
  </ngb-carousel>
</div>
</div>
<!-- 
  <script>
    var slideIndex = 1;
showSlides(slideIndex);

// Next/previous controls
function plusSlides(n) {
  showSlides(slideIndex += n);
}

// Thumbnail image controls
function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
}
  </script>

<div class="slideshow-container">

   
    <div class="mySlides fade">
      <div class="numbertext">1 / 3</div>
      <img src="/src/assets/img_dollar.jpg" style="width:100%">
      <div class="text">Caption Text</div>
    </div>
  
    <div class="mySlides fade">
      <div class="numbertext">2 / 3</div>
      <img src="/src/assets/img_1.jpg" style="width:100%">
      <div class="text">Caption Two</div>
    </div>
  
    <div class="mySlides fade">
      <div class="numbertext">3 / 3</div>
      <img src="/src/assets/img_2.jpg" style="width:100%">
      <div class="text">Caption Three</div>
    </div>
  
    
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
  </div>
  <br>
  

  <div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
  </div> -->

<p>




  
  H M Lal & Co. is a firm founded by experienced Chartered Accountant in 2004, SRCC alumni who worked with general insurance sector at leadership position for 25 years. Later on, fresh outlook was introduced to the firm, when joined by group of Chartered Accountants, who have worked with one or more Big 4 accounting firms & industrial leaders. Having its Head Office in New Delhi, firm has a joint business alliance with firms having exixtence in Chandigarh, Jaipur & Raipur with more than 50 professional & paid assistants in the group other than the core team members.

We understand challenges faced by corporate while dealing with audit, Tax & Regulatory laws. We provide quality service and add tangible value to clients by blending practical advice with tax & regulatory inputs.
Following attributs direct out vision:

Flexibility: We execute the project on-shore & off-shore.
Quality: On every assignment a dedicated professional having domain expertise is appointed who is backed by H M Lal & Co. partner & involved right from outset in order to ensure enhanced quality assurance for out clients.
Experience:  We know what it takes to plan,execute & effectively manage engagements across multiple geographies & multi-national cultures.
</p>
 
